:root {
    --light-gray: #f0f1f8;
    --main-text: #2e4f4f;
    --charcoal: #2c3333;
    --light-blue: #6adce0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-text);
    background-color: var(--light-gray)
}

h1 {
  font-size: 5rem;
  width: 320px;
  padding: 10px;
  border: 5px solid var(--light-blue);
  margin: 0;
  background-color: var(--light-blue);
}
  
h2 {
  display: flex;
  font-size: 4rem;
  
}

h3 {
  font-size: 2.5rem;
}
  

article {
  font-size: 2rem;
  width: 90%
}

header {
  background-color: var(--charcoal);
  color: var(--charcoal);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.25%;
}

footer {
 align-items: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  min-width: 325px;
  margin-right: 100px;
}

nav a {
  text-decoration: none;
  color: var(--light-blue);
  font-size: 1.75rem;
  font-weight: bold;
  justify-content: space-between;
}


.subheader {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 4% 0;
  background-image: url("../photos/subheader.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subheader-text {
  width: 320px;
  padding: 10px;
  border: 5px solid var(--light-blue);
  margin: 0;
  background-color: var(--light-blue);
  color: var(--charcoal);
  font-size: 2rem;
  font-weight: bold;
}


/* creates rules for the greater "About Me", "Work", and "Contact Me" rows */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
}

.column-left {
  justify-content: end;
  padding: 10px 20px;
  width: 15%;
  margin: 25px 0 ;
}

.column-right {
  width: 80%;
  border-left: 3px solid var(--charcoal);
  padding-left: 50px;  
  margin: 25px 0 ;
}

/* controlls largest card in work section */
.large-card {
  width: 90%;
  height: 500px;
  border: 5px solid var(--light-blue);
  display: flex;
  margin: 2px;
  position: relative;
}


.picture {
  opacity: 0.5;
}

.stacked-cards {
  display: flex;
  flex-wrap: wrap;
}

/* controlls smaller image in work section */
.card {
  display: flex;
  opacity: 0.75;
  width: 45%;
  height: 250px;
  border: 5px solid var(--light-blue);
  margin: 2px;
  align-items: end;
}

.surf {
  background-image: url("https://picsum.photos/seed/picsum/900/600");
  background-repeat: no-repeat;
  background-size: cover;
}

.led {
  background-image: url("https://picsum.photos/id/0/450/300");
  background-repeat: no-repeat;
  background-size: cover;
}

.calculator {
    background-image: url("https://picsum.photos/id/639/450/300");
    background-repeat: no-repeat;
    background-size: cover;
}

.puzzels {
  background-image: url("https://picsum.photos/id/36/450/300");
  background-repeat: no-repeat;
  background-size: cover;
}

.buddy {
  background-image: url("https://picsum.photos/id/491/450/300");
  background-repeat: no-repeat;
  background-size: cover;
}

.card-header {
  background-color: var(--light-blue);
  position: relative;
  bottom: 10px;
  max-height: 100px;
  opacity: 1;
  padding: 25px;
  margin-top: 10%;
}


.position-absolute {
  position: absolute;
}

.picture:hover {
  opacity: 1;
}

@media screen and (max-width: 1160px) {
  .row {
    flex-direction: column;
  }
}
